.wagon-scheme__container {
  position: relative;
  box-sizing: border-box;
  /* padding: 0 17px; */
}

.wagon-scheme__wagon-image {
  display: block;
  width: 100%;
  max-width: 921px;
  margin: 0 auto;
}

.wagon-scheme__svg-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 921px;
}

/* .wagon-scheme__wagon {} */

.wagon-scheme__wagon-rect {
  fill: #c4c4c4;
}

.wagon-scheme__wagon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

/* .wagon-scheme__seat {} */

.wagon-scheme__seat-rect {
  fill: #cccccc;
}

.wagon-scheme__seat-rect--available {
  fill: #f2f2f2;
}

.wagon-scheme__seat-rect--selected {
  stroke: #ffa800;
  stroke-width: 3;
}

.wagon-scheme__seat-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 13.5px;
  font-weight: 600;
  color: #ffffff;
  cursor: not-allowed;
}

.wagon-scheme__seat-number--available {
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}