.ticket-search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;

}

.ticket-search-form--homepage {
  display: flex;
  flex-direction: column;
  gap: 61px;
  width: 100%;
  margin-bottom: 80px;
}

.ticket-search-form__container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* width: 48%; */
}

.ticket-search-form__container-title {
  display: block;
  padding-bottom: 7px;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.ticket-search-form__direction-fields {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.ticket-search-form__date-fields {
  display: flex;
  align-items: center;
  gap: 34px;
  width: 100%;
}

.ticket-search-form__input {
  box-sizing: border-box;
  width: 325px;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  color: #292929;
}

.ticket-search-form__swap-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background: url(../../assets/icon/swap.svg) no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.ticket-search-form__container-submit-btn {
  flex: 100%;
  display: flex;
  justify-content: flex-end;
}

.ticket-search-form__submit-btn {
  width: 323px;
  height: 60px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  background-color: #ffa800;
  cursor: pointer;
}