.last-tickets {
  margin-top: 94px;
}

.last-tickets__title {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
}

.last-tickets__list {
  margin-top: 35px;
  padding: 0;
  list-style: none;
}

/* .last-tickets__item {} */

.last-ticket {
  padding: 18px 18px 16px 18px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 1px rgba(62, 60, 65, 0.25);
  background-color: #ffffff;
}

.last-ticket__location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.last-ticket__location-departure,
.last-ticket__location-arrival {
  font-size: 20px;
  color: #292929;
  text-shadow: 0 0 1px #292929;
}

.last-ticket__station {
  display: flex;
  justify-content: space-between;
  gap: 50%;
  padding-bottom: 6px;
}

.last-ticket__station-departure {
  /* flex: 100%; */
  font-size: 16px;
  color: #928f94;
}

.last-ticket__station-arrival {
  /* flex: 100%; */
  font-size: 16px;
  text-align: end;
  color: #928f94;
}

.last-ticket__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}

.last-ticket__info-options {
  width: 100%;
  max-width: 92px;
  height: 20px;
  background: url(./img/options.svg) no-repeat;
  background-position: center;
  background-size: contain;
}

.last-ticket__info-min-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* gap: 5px; */
  /* position: relative; */
}

.last-ticket__info-min-price-prefix {
  padding-right: 5px;
  font-size: 16px;
  color: #928F94;
}

.last-ticket__info-min-price-amount {
  font-size: 36px;
  font-weight: 700;
  color: #ffa800;
  line-height: 0.9;
}

.last-ticket__info-min-price-currency {
  flex: 100%;
  /* position: absolute; */
  position: relative;
  right: -6px;
  display: inline-block;
  min-width: 20px;
  width: 100%;
  max-width: 20px;
  height: 25px;
  background: url(./img/amount.svg) no-repeat;
  background-position: center;
  background-size: contain;
}