.header {
  width: 100%;
}

.header__container-logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 calc(13.44vw);
  background-color: rgba(0, 0, 0, 0.6);
}