.train__list-item {
  margin-top: 47px;
}

.train {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.train-info {
  width: 100%;
  max-width: 197px;
  box-sizing: border-box;
  padding-top: 58px;
  padding-bottom: 32px;
  background-color: #e4e0e9;
}

.train-info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  margin-left: 43px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.train-info__number {
  margin-top: 17px;
  margin-left: 26px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3e3c41;
}

.train-info__direction {
  margin-top: 15px;
  margin-left: 26px;
}

.train-info__direction-start {
  position: relative;
  font-size: 16px;
  color: #928f94;

  &::after {
    content: "\00A0 \2192";
    position: absolute;
    top: -8px;
    font-size: 26px;
  }
}

.train-info__direction-departure {
  position: relative;
  font-size: 16px;
  text-transform: capitalize;
  color: #292929;

  &::after {
    content: "\00A0 \2192";
    position: absolute;
    top: -6px;
    font-size: 26px;
  }
}

.train-info__direction-arrival {
  font-size: 16px;
  text-transform: capitalize;
  color: #292929;
}

.train-trip {
  display: flex;
  flex-direction: column;
  gap: 63px;
  box-sizing: border-box;
  width: 479px;
  padding: 50px 36px 50px 36px;
}

.train-trip__container {
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.train-trip-info {

  display: flex;
  flex-direction: column;
  width: 155px;
}

.train-trip-info__time {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.train-trip-info__location {
  font-size: 18px;
  white-space: nowrap;
  color: #000000;
  text-transform: capitalize;
}

.train-trip-info__station-wrapper {
  position: relative;
  overflow: visible;
}

.train-trip-info__station {
  position: absolute;
  font-size: 16px;
  white-space: nowrap;
  color: #928f94;
  width: max-content;
}

.train-trip__duration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
}

.train-trip__duration-time {
  position: relative;
  top: -4px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #c4c4c4;
}

.train-seats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  width: 283px;
  padding: 37px 22px 23px 27px;
  border-left: 1px dashed #e5e5e5;
}

.train-seats__fourth-class,
.train-seats__third-class,
.train-seats__second-class,
.train-seats__first-class {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  & svg {
    position: relative;
    top: 1px;
    padding-left: 4px;
  }
}

.train-seats__seating-type {
  width: 70px;
  padding-right: 17px;
  font-size: 16px;
  color: #3e3c41;
}

.train-seats__seating-count {
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  color: #ffa800;
}

.train-seats__seating-min-price {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #2d2b2f;
}

.train-seats__seating-min-price::before {
  content: "от ";
  font-size: 16px;
  font-weight: 400;
  color: #928f94;
}

.train-seats__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  height: 20px;
  margin: 27px 6px 33px auto;
}