.train {
  display: flex;
  position: relative;
  /* Временный отступ сверху, потом перенести на список поездов */
  margin-top: 0px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.train-info {
  width: 100%;
  max-width: 197px;
  /* height: 353px; */
  box-sizing: border-box;
  padding-top: 58px;
  background-color: #e4e0e9;
}

.train-info__icon {
  width: 86px;
  height: 86px;
  margin-left: 43px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: url(./img/train.svg) no-repeat center;
}

.train-info__number {
  width: 93px;
  margin-top: 17px;
  margin-left: 39px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.train-info__direction {
  margin-top: 15px;
  margin-left: 26px;
}

.train-info__direction-start {
  position: relative;
  font-size: 16px;
  color: #928f94;
}

.train-info__direction-start::after {
  content: "\00A0 \2192";
  position: absolute;
  /* height: 50px; */
  top: -8px;
  font-size: 26px;
}

.train-info__direction-departure {
  position: relative;
  font-size: 16px;
  color: #292929;
}

.train-info__direction-departure::after {
  content: "\00A0 \2192";
  position: absolute;
  top: -8px;
  font-size: 26px;
}

.train-info__direction-arrival {
  font-size: 16px;
  color: #292929;
}

.train-trip {
  display: flex;
  flex-direction: column;
  gap: 63px;
  /* width: 486px; */
  padding: 54px 40px 0 40px;
}

.train-trip__container {
  display: flex;
  gap: 40px;
}

.train-trip-info {
  display: flex;
  flex-direction: column;
}

.train-trip-info__time {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.train-trip-info__location {
  font-size: 18px;
  white-space: nowrap;
  color: #000000;
}

.train-trip-info__station {
  font-size: 18px;
  white-space: nowrap;
  color: #928f94;
}

.train-trip__duration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 47px;
  height: 47px;
}

.train-trip__duration-time {
  font-size: 18px;
  color: #c4c4c4;
}

.train-trip__direction-icon-from {
  /* position: absolute; */
  /* left: 0; */
  width: 30px;
  height: 20px;
  background: url(./img/right-arrow.svg) no-repeat center;
  background-size: 25px;
}

.train-trip__direction-icon-back {
  width: 30px;
  height: 20px;
  background: url(./img/left-arrow.svg) no-repeat center;
  background-size: 25px;
}

.train-seats {
  justify-self: center;
  width: 100%;
  /* width: 100%; */
  /* max-width: 276px; */
  padding: 37px 22px 23px 27px;
  border-left: 1px dashed #e5e5e5;
}

.train-seats__seating,
.train-seats__reserved,
.train-seats__coupe,
.train-seats__lux {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.train-seats__seating-type {
  width: 70px;
  padding-right: 17px;
  font-size: 16px;
  color: #3e3c41;
}

.train-seats__seating-count {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #ffa800;
}

.train-seats__seating-min-price {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #2d2b2f;
  /* line-height: 0.6; */
}

.train-seats__seating-min-price::before {
  content: "от ";
  font-size: 16px;
  font-weight: 400;
  color: #928f94;
}

.train-seats__seating-min-price::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 4px;
  width: 16px;
  height: 19px;
  background: url(./img/amount.svg) no-repeat center;
  background-size: contain;

}

.train-seats__services {
  width: 92px;
  height: 20px;
  margin: 27px 6px 33px auto;
  background: url(./img/services.svg) no-repeat center;
  background-size: contain;
}

.train-seats__select-btn {
  /* position: absolute; */
  right: 21px;
  bottom: 0;
  width: 100%;
  max-width: 228px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ffa800;
  cursor: pointer;
}

.train-seats__select-btn:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: brightness(98%);
}

.train-seats__select-btn:active {
  border: 1px solid #ffa800;
  box-shadow: none;
  color: #ffa800;
  background-color: transparent;
}