.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 519px;
  background-color: #2d2b2f;
}

.footer__contacts {
  padding-top: 50px;
}

.footer__subscribe {
  padding-top: 50px;
}

.fotter__bottom-container {
  align-self: flex-end;
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 96px;
  padding: 0 256px;
  border-top: 1px solid #ffffff;
}

.footer__copyright {
  font-size: 24px;
  font-weight: 300;
  color: #e5e5e5;
}