.filter-panel {
  width: 360px;
  background-color: #3e3c41;
}

/* .filter-panel__form {} */

.filter-panel__container {
  border-bottom: 1px solid #e5e5e5;
}

.filter-panel__container:last-child {
  border-bottom: none;
}

.filter-dates {
  padding: 43px 36px 7px 29px;
}

.filter-dates__label {
  display: inline-block;
  padding-bottom: 26px;
}

.filter-dates__title-input {
  display: inline-block;
  padding-bottom: 16px;
  font-size: 30px;
  font-weight: 400px;
  color: #ffffff;
}

.filter-dates__input {
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  padding-left: 8px;
  border-radius: 3px;
  font-size: 18px;
  color: #292929;
}


.filter-options {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 25px 36px 21px 68px;
}

.filter-options__title {
  font-size: 18px;
  color: #ffffff;
}

.filter-options__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;

}

.filter-options__coupe-title {
  padding-left: 51px;
  background: url(./img/options/coupe.svg) no-repeat;
  background-position: left center;
}

.filter-options__reserved-seat-title {
  padding-left: 51px;
  background: url(./img/options/reserved-seat.svg) no-repeat;
  background-position: left center;
}

.filter-options__seating-places-title {
  padding-left: 51px;
  background: url(./img/options/seating-places.svg) no-repeat;
  background-position: left center;
}

.filter-options__lux-title {
  padding-left: 51px;
  background: url(./img/options/lux.svg) no-repeat;
  background-position: left center;
}

.filter-options__wi-fi-title {
  padding-left: 51px;
  background: url(./img/options/wi-fi.svg) no-repeat;
  background-position: left center;
}

.filter-options__express-title {
  padding-left: 51px;
  line-height: 1.5;
  background: url(./img/options/express.svg) no-repeat;
  background-position: left center;
}


/* FilterOptions */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 19px;
}

.toggle-switch__checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.toggle-switch__slider {
  position: absolute;
  display: flex;

  align-items: center;
  width: 72px;
  height: 19px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffffff;
  transition: .4s;
}

.toggle-switch__thumb {
  display: inline-block;
  position: relative;
  left: -1px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #c4c4c4;
  transition: .4s;
}

.toggle-switch__checkbox:checked+.toggle-switch__slider {
  background-color: #fcdc9d;
}

.toggle-switch__checkbox:focus+.toggle-switch__slider {
  box-shadow: 0 0 5px #2196F3;
}

.toggle-switch__checkbox:checked+.toggle-switch__slider .toggle-switch__thumb {
  transform: translateX(46px);
  background-color: #ffa800;
}

/********** FilterPrices **********/
.filter-prices {
  padding: 37px 34px 58px 32px;
}

.filter-prices__title {
  padding-bottom: 14px;
  font-size: 30px;
  color: #ffffff;
}

.filter-prices__range-name {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 5px;
}

.filter-prices__range-name-from,
.filter-prices__range-name-to {
  font-size: 18px;
  color: #ffffff;
}