.main-select-seats {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
}

.main-select-seats__title {
  margin: 0;
  padding-bottom: 13px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.select-seats {
  box-sizing: border-box;
  width: 100%;
  margin-top: 48px;
  padding-top: 36px;
  padding-bottom: 81px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.select-seats__direction-icon-from {
  display: inline-block;
  width: 76px;
  height: 60px;
  margin-left: 19px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #ffa800;
  vertical-align: middle;
}

.select-seats__back-btn {
  width: 325px;
  height: 60px;
  border: 1px solid #292929;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
}

.select-seats__trip-details {
  display: flex;
  height: 123px;
  margin-top: 32px;
  background-color: #f7f6f6;
}

.select-seats__train-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  border-right: 1px solid #ffffff;
}

.select-seats__train-icon {
  position: absolute;
  left: 35px;
  top: 50%;
  width: 30px;
  height: 30px;
  background: url(./img/train.svg) no-repeat center;
  background-size: contain;
  transform: translateY(-50%);
}

.select-seats__train-number {
  padding-left: calc(27px + 35px);
}

.select-seats__train-start {
  padding-left: calc(27px + 35px);
}

.select-seats__train-departure {
  padding-left: calc(27px + 35px);
}

.select-seats__train-arrival {
  padding-left: calc(27px + 35px);
}

.select-seats__trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  /* padding: 54px 40px 0 40px; */
  padding-left: 31px;
}

.select-seats__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.select-seats-info {
  display: flex;
  flex-direction: column;
}

.select-seats__trip-time {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.select-seats-trip-location {
  font-size: 18px;
  white-space: nowrap;
  color: #000000;
}

.select-seats__trip-station {
  font-size: 18px;
  white-space: nowrap;
  color: #928f94;
}

.train-trip__direction-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 47px;
  height: 47px;
}

.train-trip__direction-from-icon {
  /* display: block; */
  /* position: absolute; */
  /* left: 0; */
  width: 30px;
  height: 20px;
  background: url(./img/arrow-right.svg) no-repeat center;
  background-size: contain;
}

.train-trip__direction-icon-back {
  width: 30px;
  height: 20px;
  background: url(./img/left-arrow.svg) no-repeat center;
  background-size: 25px;
}


.select-seats__travel-time {
  display: flex;
  align-items: center;
  position: relative;
  border-left: 1px solid #ffffff;
}

.select-seats__travel-time-icon {
  position: absolute;
  left: 35px;
  top: 50%;
  width: 30px;
  height: 30px;
  background: url(./img/time.svg) no-repeat center;
  background-size: contain;
  transform: translateY(-50%);
}

.select-seats__travel-duration {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
}

.select-seats__travel-duration-hours,
.select-seats__travel-duration-hours {
  font-size: 18px;
  color: #000000;
}




.select-seats__count-tickets {
  margin-top: 40px;
  padding-bottom: 49px;
  border-bottom: 1px solid #c4c4c4;
}

.select-seats__count-tickets-title {
  margin: 0;
  padding: 0 19px 13px;
  font-size: 30px;
  font-weight: 700;
  color: #292929;
}

.select-seats__type-tickets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.select-seats__adult-tickets,
.select-seats__child-tickets,
.select-seats__child-no-seat-tickets {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 192px;
  padding: 20px 36px 0 36px;

  &:hover {
    outline: 1px solid rgba(255, 168, 0, 0.79);
  }
}

.select-seats__adult-tickets {
  background-color: #f7f6f6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.select-seats__type-age-tickets {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 23px;
  padding: 0 17px;
  border: 1px solid #928f94;
  border-radius: 5px;
  font-size: 18px;
  color: #292929;
}

.select-seats__adult-passenger-info {
  color: #000000;
}

.select-seats__child-passenger-info {
  font-size: 16px;
  font-weight: 400;
  color: #928f94;
}



/* .select-seats__wagon {} */

.select-seats__wagon-title {
  margin: 0;
  padding: 27px 20px 13px;
  font-size: 30px;
  font-weight: 700;
  color: #292929;
}

.select-seats__wagon-types {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 30px 0 26px;

  & svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.select-seats__seating-places {
  cursor: pointer;

  &:active svg path {
    fill: #ffa800;
  }
}

/* .select-seats__plazcart {} */

/* .select-seats__coupe {} */

/* .select-seats__lux {} */

.select-seats__wagon-type-name {
  padding-top: 18px;
  font-size: 24px;
  /* text-align: center; */
  color: #928f94;
}

.select-seats__wagon-number {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 0 20px 0 34px;
  background-color: rgba(255, 168, 0, 0.44);
}

.select-seats__wagon-menu-title {
  padding-right: 5px;
  font-size: 18px;
  color: #292929;
}

.select-seats__wagon-menu {
  display: flex;
  gap: 5px;
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
  color: #000000;

  & a {
    text-decoration: none;
    color: #000000;
  }

  & a:focus {
    color: #ffffff;
  }
}

.select-seats__wagon-menu-info {
  font-size: 16px;
  color: #292929;
}


.select-seats__wagon-info {
  display: flex;
  height: 161px;
}

.select-seats__wagon-current {
  box-sizing: border-box;
  width: 190px;
  padding: 30px 0 0 30px;
  background-color: #ffd98f;
  color: #292929;
}

.select-seats__wagon-current-number {
  display: inline-block;
  font-size: 72px;
  font-weight: 700;
}

.select-seats__wagon-current-text {
  display: block;
  padding-left: 12px;
  font-size: 24px;
  color: #292929;
}

.select-seats__wagon-seats-info {
  display: flex;
  /* gap: 113px; */
  box-sizing: border-box;
  padding: 33px 0 17px 85px;
}

.select-seats__wagon-seats-free {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 113px;
}

/* .select-seats__wagon-seats-free-all {} */

.select-seats__wagon-seats-free-all-title,
.select-seats__wagon-seats-price-title,
.select-seats__wagon-seats-service-title {
  padding-right: 10px;
  font-size: 18px;
  color: #928f94;
}

.select-seats__wagon-seats-free-all-count {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

/* .select-seats__wagon-seats-free-upper {} */

.select-seats__wagon-seats-free-upper-title,
.select-seats__wagon-seats-free-lower-title {
  padding-right: 10px;
  font-size: 24px;
  color: #000000;
}

.select-seats__wagon-seats-free-upper-count,
.select-seats__wagon-seats-free-lower-count,
.select-seats__wagon-seats-price-upper,
.select-seats__wagon-seats-price-lower {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.select-seats__wagon-seats-price-upper,
.select-seats__wagon-seats-price-lower {
  display: flex;
  gap: 10px;
}

/* .select-seats__wagon-seats-free-lower {} */

.select-seats__wagon-seats-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 93px;
}

/* .select-seats__wagon-seats-service {} */

.select-seats__wagon-seats-service-company {
  font-size: 18px;
  color: #c4c4c4;
}

.select-seats__wagon-seats-service-options {
  display: flex;
  gap: 12px;
  padding-top: 17px;
}

.select-seats__wagon-seats-service-options-conditioner,
.select-seats__wagon-seats-service-options-wifi,
.select-seats__wagon-seats-service-options-bed-linen,
.select-seats__wagon-seats-service-options-food {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 34px;
  border: 1px solid #292929;
  border-radius: 5px;
}

.select-seats__people-online-choose {
  display: flex;
  align-items: center;
  position: relative;
  left: calc(100% - 242px);
  box-sizing: border-box;
  width: 200px;
  height: 72px;
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
}