.main-select-seats {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
}

.main-select-seats__title {
  margin: 0;
  padding-bottom: 13px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}