.order-tickets-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* position: absolute; */
  width: 100%;
  height: 596px;
  background: url(../../assets/img/order-tickets-background.jpg) no-repeat;
  background-size: cover;
}

.order-tickets-section__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1490px;
  height: 350px;
  padding: 28px 44px;
  background-color: rgba(41, 41, 41, 0.69);
}

.order-page-wrap {
  display: flex;
  justify-content: center;
  gap: 83px;
  margin-top: 95px;
}

.main-train-selection-page {
  width: 100%;
  max-width: 960px;
}