.train-list-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 18px;
  color: #928f94;
}

.found-trains {
  margin-right: auto;
}

.found-trains__title {
  padding-right: 10px;
}

.sorting-by {
  display: flex;
  margin-right: 80px;
  line-height: 0;
}

.sorting-by__title {
  padding-right: 12px;
}

.sorting-by__action {
  position: relative;
}

.sorting-by__select-value {
  position: absolute;
  color: #3e3c41;
  cursor: pointer;
}

.sorting-by__select-menu {
  position: absolute;
  z-index: 1;
  top: -17px;
  left: -7px;
  width: 140px;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f7f5f9;
  list-style: none;
}

.sorting-by__select-menu-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 7px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1;
  color: #3e3c41;
  cursor: pointer;

  &:first-child {
    height: 35px;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #ffca62;
  }
}

.show-by__title {
  padding-right: 6px;
}

.show-by__limit {
  display: inline-flex;
  justify-content: center;
  width: 25px;
  border: none;
  color: #928f94;
  background: none;
  cursor: pointer;

  &--active {
    color: #000000;
  }
}

.show-by__limit--active {
  font-size: 19px;
  color: #000000;
}