.order-tickets-section-homepage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 104px;
  height: 985px;
  padding-right: 232px;
  background-image: url(../../assets/img/order-tickets-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.order-tickets-section-homepage__container {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  width: 729px;
  height: 574px;
  padding: 0 20px;
  background-color: rgba(41, 41, 41, 0.8);
}